<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <siteation_storeinfo>
            <schema_data>
                <enabled>1</enabled>
            </schema_data>
            <notices>
                <enabled>1</enabled>
                <message>Hello There, this your notices, sales, update e.t.c.</message>
            </notices>
            <opening_hours>
                <enabled>1</enabled>
                <daily_hours>
                    <item1>
                        <day>Mo</day>
                        <hours>10:00 - 17:00</hours>
                    </item1>
                    <item2>
                        <day>Th</day>
                        <hours>08:00 - 17:00</hours>
                    </item2>
                    <item3>
                        <day>We</day>
                        <hours>08:00 - 17:00</hours>
                    </item3>
                    <item4>
                        <day>Th</day>
                        <hours>08:00 - 19:00</hours>
                    </item4>
                    <item5>
                        <day>Fr</day>
                        <hours>08:00 - 17:00</hours>
                    </item5>
                </daily_hours>
            </opening_hours>
        </siteation_storeinfo>
    </default>
</config>
